<% provide(:title, "Forgot Password") %>

<h1>Forgot Password</h1>
<br/>
<div class="row">
  <div class="col-10 col-md-8 col-lg-6 mx-auto"> <!-- col-md-6 -->
    <div class="card mx-auto border-primary">
      <div class="card-body d-grid">
        <%= form_with(url: password_resets_path, scope: :password_reset, local: true) do |form| %>
          <div class="d-grid col-6 mx-auto">
            <%= form.label(:email) %>
            <%= form.email_field(:email) %> 
          </div>
             
          <div class="d-grid col-6 mx-auto">
            <%= form.submit("Reset Password", class: "btn-primary") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>