// @import "bootstrap-sprockets";
@import "bootstrap";

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  // width: 50%;
  margin-bottom: 15px;
  // @include box_sizing;
}

input {
  height: auto !important;
}


/* universal */

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.question {
  border-width: 2px;
  border-style: solid;
  border-color: #000080;
  float: right;
  width: 60%;
  padding: 20px;
  margin-bottom: 20px;
}

.test_left {
  float: left;
  width: 30%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  // margin-left: -50px;
  // font-size: 1.7em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: -1px;
  // padding-left: -10px;
  font-weight: bold;
  text-decoration: none;
}

#navlink {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#logo:hover, #navlink:hover {
  color: #000080;
  text-decoration: none;
  background: #fff;
}