@import "bootstrap-sprockets";
@import "../node_modules/bootstrap/scss/bootstrap";
ul.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
}

// @media screen and (min-width: 750px) {}

/* forms */

input,
textarea,
select,
.uneditable-input {
    border: 1px solid #bbb;
    // width: 50%;
    margin-bottom: 15px;
    // @include box_sizing;
}

input {
    height: auto !important;
}


/* universal */

body {
    padding-top: 90px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

.quest_contain {
    float: right;
    width: 60%;
}

.question {
    border-width: 2px;
    border-style: solid;
    border-color: #000080;
    // float: right;
    // width: 60%;
    padding: 20px;
    margin-bottom: 20px;
}

.test_left {
    float: left;
    width: 30%;
}

// would like to get this working for user list page
.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    background: primary;
    color: #fff;
}

.link:visited {
    text-decoration: none;
    color: info;
}

table,
.promote {
    font-size: .88em;
}

// Documentation 
button.nav-link {
    font-size: .8em;
}

h3.card-title {
    font-size: 1.5em;
}

div.tab-pane {
    font-size: .8em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

.docs {
    margin: 4px;
    height: 100%;
}


/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    text-align: center;
}

h1 {
    font-size: 2em;
    letter-spacing: -2px;
}

h2 {
    font-size: 1.8em;
    letter-spacing: -1px;
    font-weight: normal;
}

p {
    font-size: .9em;
    line-height: 1.7em;
}


/* header */